
NUTS2021.xlsx

demo_r_mweek3.tsv

demo_r_mweek3_pjangrp3.fst

demo_r_pjangrp3.tsv

demo_r_mweek3_pjangrp3.tsv.xz

demo_r_mweek3_pjangrp3-pivoted.tsv.xz

demo_r_mweek3_pjangrp3-pivoted.fst

demo_r_mweek3_pjangrp3-pivoted.tsv

.Rhistory

.RDataTmp

demo_r_mweek3_pjangrp3.tsv
